.heading{
  font-size:2rem;
  color:#dddddd;
}
.subheading{
  color:#dddddd;
}
.levelone{
  color:aqua;
  font-size:30px;
}
.leveltwo{
  font-size:20px;
  color:black;
  margin-left: 1em;
}
.levelthree{
  font-size:15px;
  color:grey;
  margin-left: 2em;
}